*{
    margin: 0;
    padding: 0;
}
h1{
    color: darkviolet;
    text-align: center;
    text-decoration: solid;
    background-color: cyan;
}
section{

    height: 90vh; 
    margin-top: 20px;
}
.mat-1{
   
    padding: 20px;
    border:  10px solid  skyblue;
    max-width: 700px;
    width: 100%;
    margin: auto;
    height: 50vh;
  justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: o;
}
.form-group{
   color: black;
   margin: auto;
   padding: 10px;
   width:100%;
   text-justify:auto;

}
input.ng-invalid{
    border-left: 10px solid red;
    box-sizing: border-box;

}
input.ng-valid{
    border-left: 20px solid green;

}
.form-check-label{
    margin: 0px;
    padding: 15px;
}
.btn btn-warning {
    margin: 20px;
    padding: 10px;
    width: 100%;
}